# print numbers from 1 to 5 using while loop

In [17]:
i=1
while (i<=5):
    print(i)
    i=i+1

1
2
3
4
5

# calculate the sum of numbers from 1 to 10  using a while loop

In [18]:
n=0
i=1
while (i<=10):
    n=n+i
    i=i+1
    print(n)

1
3
6
10
15
21
28
36
45
55

# Calculate the factorial of a number using a for loop.

In [19]:
n=1
i=1
for i in range(1,10):
    n=n*i
    i=i+1
    
    print(n)

1
2
6
24
120
720
5040
40320
362880

# Count the number of vowel in a string using a for loop.

In [20]:
word=input("please enter your own string :")
vowels=0
i=0
for i in word: 
    if(i=='a' or i=="e"or i=="i"or i=="o"or i=="u"or i=='A'or i=="E"or i=="I"or i=="O" or i=="U"):
        vowels=vowels+1
print("total numbers of vowels in this string :",vowels)

please enter your own string :My name Vijay ,  to be honesh I am so honest in My Life
total numbers of vowels in this string : 16

# Print a pattern using nested loop.

In [21]:
rows = int(input("enter the number "))
for i in range(rows):
    for j in range(i):
        print('*',end="")
    print('')

enter the number 5

*
**
***
****

# generate a multiplicaiton table using a nested loop

In [22]:
n = int(input("enter the number for an multiplication table "))
i=1
for i in range(1,11):
    print(i*n)
    i=i+1

enter the number for an multiplication table 10
10
20
30
40
50
60
70
80
90
100

In [23]:
rows=int(input("enter the number 1")) # Multiplication table up to 10 
columns=int(input("enter the number2")) # Number of columns
# rows,columns=10,10  
for i in range(1,rows+1):
    for j in range(1,columns+1):# inner for loop
        c=i*j
        print("{:3d} ".format(c),end='')
    print("\n")  # line break

enter the number 110
enter the number210
  1   2   3   4   5   6   7   8   9  10

  2   4   6   8  10  12  14  16  18  20

  3   6   9  12  15  18  21  24  27  30

  4   8  12  16  20  24  28  32  36  40

  5  10  15  20  25  30  35  40  45  50

  6  12  18  24  30  36  42  48  54  60

  7  14  21  28  35  42  49  56  63  70

  8  16  24  32  40  48  56  64  72  80

  9  18  27  36  45  54  63  72  81  90

 10  20  30  40  50  60  70  80  90 100